body,
html {
    margin: 0;
}

.background-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.content-wrapper {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.background-wrapper:first-child {
    background-image: #FFFFFF;
    height: 120px;
    padding-bottom: 30px;
}

.header {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
}

.header__p {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    margin: 0;
    padding-left: 5px;
}

.header__menu {
    width: 443px;
    height: 27px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    text-decoration: none;
}

.header__a:hover {
    color: #292929;
}

.header__a_active {
    color: #292929;
    border-bottom: 3px solid #f1cdb3;
}





.background-wrapper:nth-child(2) {
    background: #f6f6f6;
    height: 1342px;
}

.our-friends-block {
    height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 100px;
    align-content: space-between;
}

.our-friends-block__h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    width: 400px;
    height: 90px;
    text-align: center;
}

.pet-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 930px;
}

.our-friends-block__arrow-left,
.our-friends-block__arrow-right {
    width: 50px;
    height: 50px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
}


.our-friends-block__arrow-left:hover,
.our-friends-block__arrow-right:hover {
    background: #fddcc4;
    border: 2px solid #fddcc4;
    cursor: pointer;
}
.our-friends-block__arrow-left:disabled,
.our-friends-block__arrow-right:disabled {
    color: #CDCDCD !important;
    border-color:#CDCDCD !important;
}
.our-friends-block__arrow-left:disabled:hover,
.our-friends-block__arrow-right:disabled:hover {
    cursor: url(../../assets/icons/cursor.png), not-allowed;
    color: #CDCDCD !important;
    border-color:#CDCDCD !important;
    background-color: #f6f6f6;
}
.pet-card {
    width: 270px;
    height: 435px;
    background: #fafafa;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pet-card:hover {
    cursor: pointer;
    background-color: #fff;
}

.pet-card__img {
    width: 270px;
    height: 270px;
    text-align: center;
}

.pet-card__h3 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    text-align: center;
}

.pet-card__a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    border-radius: 100px;
    width: 183px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #f1cdb3;
    margin-bottom: 30px;
    align-self: center;
}

.pet-card__a:hover {
    background: #fddcc4;
    border: 2px solid #fddcc4;
}

.our-friends-block__a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
    background: #f1cdb3;
    border-radius: 100px;
    width: 51px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #f1cdb3;
}

.our-friends-block__a:hover {
    background: #fddcc4;
    border: 2px solid #fddcc4;
    cursor: pointer;
}

.our-friends-block__pagination {
    width: 339px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.background-wrapper:nth-child(3) {
    background-image: url(../../assets/images/footer-gradient-background.png);
    height: 350px;
}

.footer {
    height: 310px;
    display: grid;
    grid-template-columns: 279px 302px 300px;
    column-gap: 160px;
}

.footer__h2 {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.footer__a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    text-decoration: none;
}

.footer__a:hover {
    color: #fddcc4;
}

.footer__text-block {
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 56px;
}

.footer__img {
    padding-top: 35px;
}

.footer__text-block:first-child a:nth-child(2) {
    display: grid;
    grid-template-columns: 40px 191px;
    column-gap: 20px;

}

.footer__text-block:first-child a:nth-child(3) {
    display: grid;
    grid-template-columns: 40px 180px;
    column-gap: 20px;
    align-items: center;
}

.footer__text-block:nth-child(2) a {
    display: grid;
    grid-template-columns: 22px 260px;
    column-gap: 20px;
    align-items: center;
}
